<div class="jumbotron bg-white">
    <h1 class="display-4">Covid-21 Tracker </h1>
    <hr>
    <!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quod iusto! Laborum animi minus, eos repellat fugiat autem quibusdam, nesciunt suscipit optio accusantium quos sapiente blanditiis sed praesentium officia odit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolor nostrum, mollitia quibusdam optio repudiandae eveniet odio magnam quos itaque quia iusto ex odit illum est et iste sit qui.</p> -->

    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths'></app-dashboard-card>

</div>